/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

body {
  width: 100%;
  height: auto;
  font-family: "Poppins", system-ui;
  overflow-x:hidden; 
}
.App{
  position:relative;
}
/* /* .position{
   position: fixed;
  top:5px;  */
/* .header-bg-container{

} */
 /*.header{
  width:100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gitam-logo-fluid{
    
 height:100px;
    
}
.contact-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center !important;
}
.contact{
  background-color:#007367 ;
  padding:10px 32px;
  border-radius: 30px;
   margin-top: 15px;
  margin-right:20px; 
}
.fa-solid{
  color:#ffffff;
}
.contact-color{
  color:#ffffff;
} */

/* headersection */
.header-bg-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px 0px;
  /* background-color: #ffffff;
  position:fixed; */ 
}
.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-fluid{
  width: 100% !important;
  height:100px;

}
.contact-no-icon{
  background-color: #007367;
  border-radius: 20px; 
  padding:8px 10px 5px 10px;
  align-items: center !important;
}
/* .gitam-logo-fluid{
  width:100%;
  height: 100px;
} */
.vid-dimensions{
  width:100vw !important;
  
}
/* .floating-divs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */
.floating-div{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding:28px 24px;
  margin-top: -85px;
  background-color: #ffffff;
  
}
.unordered-list{
  list-style-type: none;
  text-align: center;
}
.digits{
  color:#007367;
  font-size: 27px;
}
.text-below-digits{
  font-size:18px;
  font-family: "poppins";
}
.about-info{
  padding-top:15px;
  font-size: 14px;
  font-weight: 400;
}
.btn-toggle:hover {
  background-color: #fff !important;
  border: 1px solid #9d9d9d !important;
}
.radio-buttons{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}


.custom-button{
  background-color: #007367;
  color:#ffffff;
  border-radius: 8px;
}
.card{
  position:unset;
  border: none;
}
.input-form{
  background-color: #e6dcdc;
  box-shadow: 0px 5px 10px #aaa;
  border:none;
  border-radius: 8px;
  padding:15px;
  /* margin-top: -150px; */
  position: absolute;
  top:500px;
}

/* .image-fee-instructions{
  w;
} */
.fee-instructions{
  margin-top: 120px;
  margin-bottom: 120px;
} 
 .section-title-div{
  display: flex;
  flex-direction: row;
 
  align-items: baseline;
  margin-bottom: 15px;
 }
.sec-titile{
  margin-top:45px;
  font-size: 34px;
  font-weight: 700;
  color:#3D3D3D;
  font-family:'poppins' ;
}
.line{
  width:40px;
  height:3px;
  color:#007367;
  border-bottom: 3px solid #007367;
 
  margin-left: 5px;
}
.unordered-list-acordion{
  list-style-type: disc;
}
/* importantdatesection */
.importantdatesection{
  padding-top:100px ;
  padding-bottom: 100px;
}

.important-date-imgs{
  width:38px;
  height:50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-right:auto;
  margin-left:auto;
}
.text-center{
  text-align: center;
  margin-bottom: 40px;
}
.shadow-card{
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  
  margin:5px 15px;
  /* border: 0.2px solid #dbdada */
}
.important-dates-div{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}
.date{
  color:#007367;
  font-size: 27px;
  font-weight: 500;
}
/* feestructuresection */
.feestructuresection{
  background-color: #f4e4c9;
  padding-top:100px ;
  padding-bottom: 100px;
}
.dropdwon-shadow{
  border:#007367;
  box-shadow:  0px 0px 2px 2px rgb(110, 161, 255);
  padding: 8px 24px;
}
.dropdwon-shadow.active{
  border:#007367;
  box-shadow:  0px 0px 2px 2px rgb(110, 161, 255);
  padding: 8px 24px;
}
.fee-card-body{
  background-color: #005149;
  color:#ffffff;
  padding:18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom:1px solid #f4e4c9; 
}
.cardTitle{
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 400;
}
.cardValue{
  font-weight: 500;
}
.subTitle{
  font-family: 'poppins';
  font-size: 12px;
  font-weight: 400;
}
.cardBox{
  margin-top: 20px;
 
}
.fee-card-footer{
  background-color: #1a7c72;
  color:#ffffff;
  padding:18px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card-footer-alignment{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.green-text{
  color:#007367;
}
.note{
  color:#060404;
}
.bg-accordion{
  background-color: #007367 !important;
}
/* ExamInstructions */
.ExamInstructions{
  padding-top:100px ;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.tab-heading{
  border-radius: 10px;
  background-color: #c8e2e3 !important;
  justify-content: center;
}

/* .tab-button {
  color: #060404;
  background-color:transparent; 
} */

/* 
 .tab-button:hover{
  border:1px solid #007367; 

 } */

.nav-tabs .nav-link{
  border:1px solid #ffffff !important;
  border-radius: 25px 25px 25px 25px !important;
  color:black!important;
  margin:5px 5px !important;
  background-color: #fcfcfc !important;
}
.nav-tabs .nav-link.active{
  
  border-radius: 25px 25px 25px 25px !important;
  color:rgb(255, 255, 255)!important;
  margin:5px 5px !important;
  background-color:  #007367 !important;
}
.nav-tabs .nav-link:hover{
  border: 1px solid #007367 !important;
}
.locations-div{
  margin-top: 14px;
}
.locations{
  background-color: #f4e4c9;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:5px 20px;
  color:#007367;
  margin:3px 9px;
}
.locations .fa-solid{
  color:#007367;
  margin-top:-8px;
}
/* green-bg */
.green-bg{
  background-color: #007367;
  padding-top: 50px;
  padding-bottom: 110px;
}
.g-line{
  width:40px;
  height:3px;
  color:#007367;
  border-bottom: 3px solid#c9bba4;
}
/* sub-scholar-div */
.sub-scholar-div{
  padding: 25px 0px;
  margin-top:-100px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 2px 1px 2px 0px #8b8b8b;
}
.input-readonly{
  border: none;
  border-radius: 8px;
  padding: 8px;
  box-shadow:  0px 2px 2px rgb(110, 161, 255);
  background-color: #d7dee4;
}
.custom-button{
  background-color: #007367;
  color:#ffffff;
  border-radius:7px;
}
.div-unordered-list{
  box-shadow: 2px 1px 2px 0px #8b8b8b;
  padding: 25px 0px;
  margin-top:18px;
  margin-bottom: 30px;
}
/* discipline-section */
.discipline{
  padding-top: 100px;
  padding-bottom: 100px;
}
.discipline-card-img1{
  text-align: center;
}
.dispcard{
  text-align: center;
  margin-bottom: 30px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
/* faqs */
.faqs{
  padding-top: 0px;
  padding-bottom: 50px;
}
.w-100{
  width: 100% !important;
}
.faqs-div{
  display: flex;
  flex-direction: row;

}
/* footer */
.bg-container{
  background-color: #060404;
  color:#ffffff;
  padding-top: 15px;
  padding-bottom:13px;
}
.footer-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}